<div class="div1">
    <div class="envoltura">
      <div class="div2">
        <br />
  
        <h6>HOME</h6>
        <nav role="navigation">
          <div id="menuToggle">
              <input type="checkbox"/>
              <span></span>
              <span></span>
              <span></span>
              <ul id="menu">
                  <li *ngFor="let option of options">
                      <a>{{option}}</a>
                  </li>
              </ul>
          </div>
      </nav>
      </div>
    </div>
  </div>  
  
   
   <!-- <div class="image" style="height: 100vh;width:100vw;" [ngStyle]="{'background': 'url(/assets/imagenes/Pilotos_Carrera.jpg) no-repeat 0 0','background-size':'cover'}"></div> -->
